<%= form_with model: @dog do |form| %>

  <div class="mb-3">

    <%= form.label :name, class: "form-label" %>

    <%= form.text_field :name,
        class: "form-control" %>

  </div>

  <div class="mb-3">

    <%= form.label :breed, class: "form-label" %>

    <%= form.text_field :breed,
        class: "form-control" %>

  </div>

  <div class="mb-3">

    <%= form.label :age, class: "form-label" %>

    <%= form.number_field :age,
        class: "form-control" %>

  </div>

  <div class="mb-3">
        <%= form.label :photo, "Photo du chien" %>
        <%= form.file_field :photo, accept: "image/jpeg,image/png", class: "form-control" %>
      </div>
    <div class="mb-4">

    <%= form.label :description, class: "form-label" %>

    <%= form.text_area :description,
        rows: 4,
        class: "form-control" %>

  </div>

  <%= form.submit "Enregistrer",
      class: "btn btn-doggy rounded text-white px-4" %>

<% end %>
