<div class="container py-5">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <div>
      <h1 class="fw-bold">Liste de chien(s)</h1>
    </div>

  </div>
  <% if @dogs.any? %>
    <div class="row g-4">
      <% @dogs.each do |dog| %>
        <div class="col-md-4">
          <div class="card h-100 shadow-sm rounded-4 border-0">
            <div class="card-body p-4">
              <h3 class="fw-bold">
                <i class="fa-solid fa-dog"></i>
                <%= dog.name %>
              </h3>
              <p class="text-muted mb-1">
                Race : <%= dog.breed %>
              </p>
              <p>
                Âge : <%= dog.age || "Non renseigné" %> ans
              </p>
              <div class="d-grid gap-2 mt-4">

                <%= link_to "Voir profil de #{dog.name}",
                    dog_path(dog),
                    class: "btn btn-primary rounded-pill" %>

                <%= button_to "Assistant de #{dog.name}",
                    dog_chats_path(dog),
                    method: :post,
                    form: { class: "w-100" },
                    class: "btn btn-success rounded-pill w-100" %>

              </div>
            </div>
          </div>
          <div class="row mt-4">
      <div class="card h-100 shadow-sm rounded-4 border-0">
        <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "text-muted text-decoration-underline" %>

        <%= link_to "Ajouter un chien",
            new_dog_path,
            class: "text-muted text-decoration-underline" %>
      </div>
    </div>
        </div>
      <% end %>
    </div>
  <% end %>

</div>
