<div class="container py-5">
  <%= link_to "← Retour",
      dogs_path,
      class: "text-decoration-none text-muted" %>
  <h2 class="text-center fw-blod" > user : <%= current_user&.email || "" %></h2>
<div class="row g-4">
  <div class="card shadow-sm rounded-4 border-0 mt-3">
    <div class="card-body p-4">
      <div class="d-flex justify-content-between align-items-start">
        <div>
          <h1 class="fw-bold">
            <i class="fa-solid fa-dog"></i>
            <%= @dog.name %>
          </h1>

          <p class="text-muted"> Race :
            <%= @dog.breed %>
          </p>

        </div>

      </div>

      <p>
        Age :
        <%= @dog.age || "Non renseigné" %>
        <span>ans</span>
      </p>

      <p>
        Description :
        <%= @dog.description.presence || "Aucune description." %>
      </p>

      <div class="d-flex gap-2 mt-4">

        <%= button_to "Assistant de #{@dog.name}",
            dog_chats_path(@dog),
            method: :post,
            form: { class: "w-100" },
            class: "btn btn-success rounded-pill w-100" %>


      </div>
    </div>
  </div>

  <div class="container">
    <ul class="navbar-nav me-auto">
      <li class="nav-item">
        <%= button_to "Supprimer #{@dog.name}",
            dog_path(@dog),
            method: :delete,
            data: {
              turbo_confirm: "Supprimer ce chien ?"
            },
            class: "text-muted text-decoration-underline" %>
      </li>
      <% if user_signed_in? %>
        <li class="nav-item active">
          <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "text-muted text-decoration-underline" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
